html, body, {
  height: 100%!important;
  color: white;
}

* {
  box-sizing: border-box;
}


nav { 
	text-align: center;
	background-color: #272728;
	padding-bottom: 20px;
	padding-top: 20px;
	position: relative;	
}

nav li {
	display: inline-block;
	border: 2px;
	border-color: #cabbae;
	border-style: solid;
	border-radius: 5px;
	margin-left: 20px;
	font-family: 'Lalezar', cursive;
	font-size: 30px;
	padding: 10px;

}

a { 
	text-decoration: none;     
	color: #fff;
}



img { width: 100%;}

.panel {
	width: 100%;
	padding-top: 100px;
}
.header {
	background-image: url(../images/rhino.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 80% 70%;
	background-attachment: fixed;
	position: relative;
	z-index: 3;

	width: 100%;
	height: 900px;
}
.welcome {
	text-align: center;
	padding-top: 450px;
	font-size: 150px;
	color: #cabbae;
	font-family: 'Lalezar', cursive;
	    text-shadow: 2px 2px #272728;
}

.container {
	background-color: rgba(255,255,255,.1);
	position: relative;
	margin-top: 100px;
}
.inner{
width: 75%;
margin: auto;
background-color: rgba(255,255,255,0.9);

	
}



h1 {
	font-family: 'Shrikhand', cursive;
	font-size: 2.5em;
	padding: 10px;
}
p {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 1em;
	line-height: 2em;
	padding: 10px;
}


.video-container {
   background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/35376/bg-3.jpg);//fallback-image while video loads
  background-size: cover;
	display: block;
	width: 100%;
	height: 100%;
  position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	-webkit-backface-visibility: hidden;
}

.touch .video-container {
	display: none;
}

#bg-video {
  display:block;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;
}

.lt-ie8 .video-container {
	display: none;
}