nav { 
	text-align: center;
	background-color: #94daca;
	padding-bottom: 20px;
	padding-top: 20px;
}

nav li {
	display: inline-block;
	border: 2px;
	border-color: green;
	border-style: solid;
	border-radius: 5px;
	margin-left: 20px;
	font-family: 'Lalezar', cursive;
	font-size: 30px;
	padding: 10px;

}

a { text-decoration: none;}



img { width: 100%;}

.panel {
	width: 100%;
	padding-top: 100px;
}
.header {
	background-image: url(../images/rhino.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 80% 70%;
	background-attachment: fixed;
	width: 100%;
	height: 900px;
}
.welcome {
	text-align: center;
	padding-top: 450px;
	font-size: 150px;
	color: #94daca;
	font-family: 'Lalezar', cursive;
}

.container {
	background-color: rgba(255,255,255,.9);
}
.inner{
width: 75%;
margin: auto;
background-color: rgba(255,255,255,0.1);
	
}



h1 {
	font-family: 'Shrikhand', cursive;
	font-size: 2.5em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}
p {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 1em;
	line-height: 2em;
}
